<div class="d-flex justify-content-center">
    <table>
        <tr>
            <th>Latex Input</th>
            <th>Rendered in the Custom Textbox</th>
        </tr>
        <tr>
            <td>
                <textarea class='txt' rows="8" placeholder="Enter text here..." [(ngModel)]="mathContent1"></textarea>

            </td>
            <td>
                <mathjax [content]='mathContent1' class="box"></mathjax>
            </td>
        </tr>
    </table>
</div>