<nav class="navbar  navbar-light bg-light">
    <div class="container-fluid">
        <div id="navbarNavAltMarkup">
            <div class="navbar-nav d-flex flex-row">
                <a class="nav-link  m-4" aria-current="page" routerLink="">New Quiz</a>
                <a class="nav-link m-4" routerLink="/Testdata">Test Data</a>
            </div>
        </div>
    </div>
</nav>