<h1 class="m-4 title-main h3">New Quiz</h1>

<div class="container child-main bg-white">
    <div class="d-flex flex-column ">
        <div class="p-2 d-flex  ">
            <div class="p-2 flex-fill  "> <input type="text" class="form-control" placeholder="Quiz Name"></div>
            <div class="p-2 flex-fill "><input type="text" class="form-control" placeholder="Details"></div>
            <div class="p-2 flex-fill d-flex "><button type="button" class="btn btn-outline-secondary ml-auto">SHARE</button></div>
        </div>
        <div class="p-2  d-flex flex-column">
            <div class="d-flex">
                <div class="p-2 flex-fill">
                    <p class="gray-color">
                        <ngb-alert [dismissible]="false" class="gray-color" type='light'>
                            <mathjax class="gray-color" [content]='mathContent1'></mathjax>
                        </ngb-alert>
                    </p>
                </div>
                <div>
                    <i class="fa fa-times-circle"></i>
                </div>
            </div>
            <div class="p-2 ">
                <div class="d-flex flex-column w-25">
                    <div class="d-flex">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <div class="input-group mb-3">

                            <input type="text" class="form-control" [(ngModel)]="answer">
                            <span class="input-group-text bg-white" id="basic-addon1"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>