@import "~bootstrap/dist/css/bootstrap.css";
.txt {
    width: 100%;
    font-size: 1.1rem;
    border: 1px solid grey;
}

.box {
    border: 1px solid black;
    display: block
}

.main {
    min-height: 100vh;
}

.title-main {
    color: #6f8ee1;
}

.child-main {
    background-color: #fdfdfe !important;
}

.gray-color {
    background-color: #f7f8fc !important;
}


/* You can add global styles to this file, and also import other style files */